/* global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#222;
    --secondary-color:#adf;
}

html{
    font: 1.125em/1.5 Arial, Helvetica, sans-serif;
}
p{
    margin: 1em 0;
}

/* header styles */
header{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
}

header h1{
    background-color: var(--secondary-color);
    padding: 5px 10px 5px 35px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding-right: 35px;
}

header nav a{
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 6px 12px;
}

header nav a:hover{
    text-decoration: underline;
}

/* hero styles */
.hero{
    width: 100%;
}

/* section styles */
section{
    color: var(--primary-color);
    width: 80%;
    margin: 2em auto;
    display: flex;
}

section h3{
    font-size: 1.5rem;
    text-align: right;
    margin-right: 1em;
    padding-right: 1em;
    border-right: 4px solid var(--primary-color);
    flex: 1 20%;
}

section > div{
    flex: 2 80%;
}

/* work styles */
.work-table{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}
.work-table > :first-child{
    grid-row: 1 / span 2;
}

.project{
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 240px;
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    border: 4px solid var(--secondary-color);
}
.project-details{
    background-color: var(--secondary-color);
    padding: .5em 1em;
    margin-bottom: 1em;
}
#avisynth-utilities{
    background-image: url("../images/Avisynth-utilities.jpg");
}
#cablecast-soap{
    background-image: url("../images/cablecast-php-soap-client.jpg");
}
#run-buddy{
    background-image: url("../images/run-buddy.jpg");
}

/* contact styles */
.contact-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}